*{
margin: 0;
padding: 0;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.main_box {
    background-image: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}
.btn_one{
  color: white;
  font-size:30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 65px;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
   
    height: 100vh;
    width: 300px;
   background-color: rgba(255,255,255,0.1);
   box-shadow: 0 0 6px rgba(255,255,255,0.5);
   transition: all 0.3s linear;
}
.sidebar_menu .logo {
position: absolute;
width: 100%;
line-height: 60px;
 box-shadow: 0 0 4px rgba(255,255,255,0.5);
 height: 60px;

}
.sidebar_menu .logo a{
    position: absolute;
    left: 60px;
   color: white;
   text-decoration: none;
   font-size: 20px;
   font-weight: 600;
}
.sidebar_menu .btn_two i {
   color:grey ; 
   font-size: 25px;
   line-height: 70px;
   position: absolute;
   left: 275px;
   cursor:pointer;
   /* opacity: 0; */
}
.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 60px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding:15px 15px ;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;

}


.sidebar_menu .social_media {
    /* color: white; */
    opacity: 0.9;
    position: absolute;
    left: 25%;
    bottom: 30px;
    padding: 5px;
}
.sidebar_menu .social_media :hover{
opacity: 1.9;
color: white;
}

#check{
    display: none;
}
/* hover changes */
.sidebar_menu .menu li:hover{
     box-shadow: 0 0 4px rgba(255,255,255,0.5);
}
 .sidebar_menu.btn_two :hover  {
   font-size: 40px;
}

 .social_media i:hover{
opacity: 1;
transform: scale(1.1);
}
#check:checked~ .sidebar_menu{
    left: 0;
}
#check:checked~ .btn_one{
    opacity: 0;
}